/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @font-face {
    font-family: yekanregular;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/YekanBakh.ttf') format('truetype'),
   }
   @font-face {
    font-family: yekanmedium;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/YekanBakh-Medium.ttf') format('truetype'),
   }
   
   @font-face {
    font-family: yekanbold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/YekanBakh-Bold.ttf') format('truetype'),
   }
   @font-face {
    font-family: yekanlight;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/YekanBakh-Light.ttf') format('truetype'),
   }
   @font-face {
    font-family: yekanheavy;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/YekanBakh-Heavy.ttf') format('truetype');
   }

   /* icomoon */
   @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak-as: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-creativity:before {
    content: "\e901";
    color: #fafafa;
  }
  .icon-graduation-cap:before {
    content: "\e902";
    color: #fafafa;
  }
  .icon-Group-30:before {
    content: "\e903";
    color: #fff;
  }
  .icon-Group-146:before {
    content: "\e904";
    color: #fafafa;
  }
  .icon-Group-147:before {
    content: "\e905";
    color: #fafafa;
  }
  .icon-Group-148:before {
    content: "\e906";
    color: #fafafa;
  }
  .icon-Group-209:before {
    content: "\e907";
    color: #fafafa;
  }
  .icon-Group-309:before {
    content: "\e908";
    color: #fff;
  }
  .icon-Group-315:before {
    content: "\e909";
  }
  .icon-Group-324:before {
    content: "\e90a";
    color: #616161;
  }
  .icon-Group-576:before {
    content: "\e90b";
    color: #9164e8;
  }
  .icon-Group-589:before {
    content: "\e90c";
    color: #9164e8;
  }
  .icon-monitor:before {
    content: "\e90d";
    color: #fafafa;
  }
  .icon-Page-1:before {
    content: "\e90e";
    color: #fafafa;
  }
  .icon-profile-2:before {
    content: "\e90f";
    color: #fafafa;
  }
  

  /* General */
  a{
    text-decoration:none;  
  }
  
  ul{
    list-style:none; 
  }
  

  
  /* nav */
.bg-img{
background-image: url('../img/MaskGroup1@2x.png');
background-size: cover;
background-position: center;
height:100vh;
}

.bg-col{
  height: 100vh;
  background-color:rgba(33, 33, 33, 0.43);
  position: relative;

}
.text-nav a,.main-slide span:nth-child(odd),.btn-details{
  font: 0.875rem/19px yekanregular;
  color: #fff;
  text-align: center;
 }

.login {
font-size: 0.75rem;
color: #fff;
font-family: iranyekanregular;
line-height: 44px;
}

  .form-control-extera {
     border:none;
     width:auto;
  } 
  
  .form-control-extera a{
    padding-left: 0.75rem;
    line-height: 3rem;
  }
  
.main-slide{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-slide span:nth-child(even){
  font: 34px/46px yekanbold;
  color: #fff;
  text-align: center;
  padding-top:0.25rem;
  padding-bottom: 1rem;
 }

.main-slide span:nth-child(3){
width:125px;
height: 18px;
overflow: hidden;
 }

 .main-slide span:nth-child(4){
  width:254px;
  height: 44px;
  overflow: hidden;
 }
 .main-slide span{

  }
  .btn-details{
    background-color: #9164E8;
    width: 170px;
    height: 3rem;
    border-radius: 0.25rem;    
  }

/* about-us section */
.about-us{
  margin: 7rem auto;
}

  .img-box-about-us{
    position: relative;
  }

  .text-box-about-us{
    width: 213px;
    height: 223px;
    background-color:#9164E8;
    border-radius: 6px;
    display: inline-block;
    align-items: center;
    position: absolute;
    z-index: 10000;
  }
  .text-box-about-us p{
    font: 24px/38px yekanbold;
    color: #FAFAFA;
    text-align: right;
    padding:3rem 1.626rem 3rem 2.5rem;
    margin: 0;
  }
  .img-box-about-us img:nth-child(2){
    position: absolute;
    top: 0.8125rem;
    left: 19px;;
    z-index: 10;
  }
  .img-box-about-us img:nth-child(3){
    position: absolute;
    bottom:0;
    right:13px;
    z-index: 1000;
  }
  .img-box-about-us img:nth-child(4){
    position: absolute;
    bottom:11px;
    left:0px;
    z-index: 100;
  }
  .text-box{
    padding:2.625rem 7rem 2.625rem 0;
  }
  .text-box p:nth-child(1){
    font: 14px yekanregular;
    color:#9164E8;
    padding-bottom:0.25rem;
    margin: 0;

  }

  .text-box p:nth-child(2){
    font: 24px/38px yekanbold;
    color:#212121;
    padding-bottom: 1rem;
  }
  .text-box p:nth-child(3),p:nth-child(4){
    font: 14px/19px yekanregular;
    color:#616161;
    padding-bottom: 1rem;
  }
 
  .read-more{
    width: 150px;
    height: 40px;
    background-color: #9164E8;
    border-radius: 0.25rem;
    font: 14px yekanmedium;
    color: #FFFFFF;
    line-height: 40px;
    padding: 0;

  }
  .introduction{
    background-image:url('../img/MaskGroup6.png');
   background-repeat: no-repeat;
    background-position: center;
  }
.introduction .text-box{
  padding-right: 0;
}

  .intro-text{
    width: 348px;
    height: 111px;
    padding-bottom: 0;
    overflow:hidden;
    }
    .cactegories{
        margin: 0.75rem 1.75rem;
    }
    .branches{
      width: 301px;
      height:306px;
      overflow: hidden;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 12px #1815150A;  
      border: 1px solid #F6F6F6;
      padding: 1.5rem 1.5rem 2rem;
      margin: 19px 12px 35px;


}

   .branches p:nth-child(2){
    font: 16px/21px yekanbold;
    color: #212121;
       }
       .branches p:nth-child(3){
        font: 14px/19px yekanregular;
        color: #9E9E9E;
           }
    
.to-know span{
  font: 14px/19px yekanregular;
  color: #212121;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

