/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: yekanregular;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YekanBakh.ttf') format('truetype');
}

@font-face {
  font-family: yekanmedium;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/YekanBakh-Medium.ttf') format('truetype');
}

@font-face {
  font-family: yekanbold;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/YekanBakh-Bold.ttf') format('truetype');
}

@font-face {
  font-family: yekanlight;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/YekanBakh-Light.ttf') format('truetype');
}

@font-face {
  font-family: yekanheavy;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/YekanBakh-Heavy.ttf') format('truetype');
}

/* icomoon */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?exw1fx');
  src:  url('../fonts/icomoon.eot?exw1fx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?exw1fx') format('truetype'),
    url('../fonts/icomoon.woff?exw1fx') format('woff'),
    url('../fonts/icomoon.svg?exw1fx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-creativity:before {
  content: "\e900";
  color: #fafafa;
}
.icon-graduation-cap:before {
  content: "\e901";
  color: #fafafa;
}
.icon-Group-30:before {
  content: "\e902";
  color: #fff;
}
.icon-Group-146:before {
  content: "\e903";
  color: #fafafa;
}
.icon-Group-147:before {
  content: "\e904";
  color: #fafafa;
}
.icon-Group-148:before {
  content: "\e905";
  color: #fafafa;
}
.icon-Group-209:before {
  content: "\e906";
  color: #fafafa;
}
.icon-Group-309:before {
  content: "\e907";
  color: #fff;
}
.icon-Group-315:before {
  content: "\e908";
}
.icon-Group-324:before {
  content: "\e909";
  color: #616161;
}
.icon-Group-576:before {
  content: "\e90a";
  color: #9164e8;
}
.icon-Group-589:before {
  content: "\e90b";
  color: #9164e8;
}
.icon-monitor:before {
  content: "\e90c";
  color: #fafafa;
}
.icon-Page-1:before {
  content: "\e90d";
  color: #fafafa;
}
.icon-profile-2:before {
  content: "\e90e";
  color: #fafafa;
}
.icon-arrow-up2:before {
  content: "\ea3a";
}


/* General */
body{
  background-color: #FCFCFC;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* nav */
.masthead{
  position: absolute;
  top: 0;
  width:100%;
  z-index: 99999;
}



.main-slide{
  position: relative;
  background-image: url('../img/MaskGroup1.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

}

.main-slide:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212121 ;
    opacity: 0.43;
}


 .navbar-toggler-icon-img{
  background-image: url('../img/toggler.svg');
 }


.nav-link,.site-heading span:nth-child(1),
.btn-details {
  font: 14px/19px yekanregular;
  color: #fff;
  text-align: center;
}
.nav-item-extera{
  padding-right:1.5rem;
  padding-left:1.5rem;

}
.login {
  font-size: 12px;
  color: #fff;
  font-family: yekanregular;
  line-height: 38px;
  padding-left: 1.25rem;

}
.brand-logo{
  margin-left: 50px;
}

.form-control-extera a {
  padding-left: 0.75rem;
  line-height: 3rem;
}

.site-heading h1 {
  font: 34px/46px yekanbold;
  color: #fff;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}


.btn-details {
  background-color: #9164E8;
  width: 10.625rem;
  height: 3rem;
 line-height: 3rem;
  border-radius: 4px;
}
/* about-us section */
.about-us {
  position: relative;
  margin: 7rem auto;
}

.img-box-about-us {
  position: absolute;
  width: 42%;
  height:100%;
  }

.text-img-about-us{
  width: 213px;
  height: 223px;
  background-color: #9164E8;
  border-radius: 6px;
  align-items: center;
  position: absolute;
  z-index: 10000;

}

.text-img-about-us h3 {
  font: 24px/38px yekanbold;
  color: #FAFAFA;
padding: 36px 25px 36px 26px;
}
.img-box-about-us img:nth-child(2) {
  position: absolute;
  top: 0.8125rem;
  left: 19px;
  z-index: 10;
}

.img-box-about-us img:nth-child(3) {
  position: absolute;
  bottom: 0PX;
  right: 13px;
  z-index: 1000;
}

.img-box-about-us img:nth-child(4) {
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 100;
}

.text-box-about-us {
  width: 80%;
  height:100%;
   /*ISSUE: FIND BETER SOLUTION!!!!!!!!*/
  padding: 2.4rem 0;
}

.text-box-about-us span:nth-child(1),.text-box span:nth-child(1),.courses h3,.course-type span:nth-child(2),
.course-type span:nth-child(2),.blog-recent span:nth-child(1) {
  font: 14px yekanregular;
  color: #9164E8;
  padding-bottom: 0.5rem;
  margin: 0;

}

.text-box-about-us span:nth-child(2),.text-box span:nth-child(2),
.courses-title span,.blog-recent span:nth-child(2) {
  font: 24px/38px yekanbold;
  color: #212121;
  padding-bottom: 1rem;
}

.text-box-about-us p,.text-box p,.blog-text-box p {
  font: 14px/19px yekanregular;
  color: #616161;
  padding-bottom: 1rem;
  text-align: justify;

}
/* .blog-slide p:nth-child(3) {
  text-align: justify;
} */

.read-more {
  width: 150px;
  height: 40px;
  background-color: #9164E8;
  border-radius: 0.25rem;
  font: 14px yekanmedium;
  color: #FFFFFF;
  line-height: 40px;
  padding: 0;

}

.introduction {
  background-image: url('../img/MaskGroup6.png');
  background-repeat: no-repeat;
  background-position: right;
}

.introduction .text-box {
  padding-right: 0;
}

.intro-text {
  width: 348px;
  height: 111px;
  padding-bottom: 0;
  overflow: hidden;
}
/* .swiper-btns {
  position: relative;
} */
.next1,.prev1 {
  bottom: 59px !important;
  width: 48px;
  height: 48px;
  box-shadow: 0px 4px 12px #1B17170D;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  display: inline-block;
}
.next1 i,.prev1 i{
  font-size: 1.5rem;
  color:black; /*ISSUE: CHAGE THE COLOR!!!*/
  line-height: 48px;

}
.flip-icon{
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);

}


.branches {
  width: 301px;
  height: 306px;
  overflow: hidden; /*ISSUE: UNTIL SWIPER SOLVED */
  background-color: #FFFFFF;
  box-shadow: 0px 4px 12px #1815150A;
  border: 1px solid #F6F6F6;
  padding: 1.5rem 1.5rem 2rem;
  margin: 19px 12px 35px;
}

.icon-bg {
  width: 4rem;
  height: 4rem;
  background-color: #9164E8;
  border-radius: 4px;
  text-align: center;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.icon-bg span {
 font-size: 40px;
}

.branches h3,.course-items h3,.blog-text-box h3{
  font: 16px/21px yekanbold;
  color: #212121;
}

.branches p:nth-child(3),
.courses-menu-link a{
  font: 14px/19px yekanregular;
  color: #9E9E9E;
}

.to-know span {
  font: 14px/19px yekanregular;
  color: #212121;
}

/*courses section*/
.courses-menu li:nth-child(1) {
  width: 94px;
  height: 34px;
  background-color: #9164E8;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
}


.course-box {
  box-shadow: 0px 4px 12px #1815150A;
  border: 1px solid #F6F6F6;
  margin: 0.875rem 0 0.875rem 0;
}

/* .img-course img{
  width: 325px;
  height: 255px;
} */
.course-prof p,
.date span:nth-child(2){
  font: 14px/19px yekanregular;
  color: #424242;
}

.course-type {
  padding-left: 12px;
}

/*internship section*/
.internship {
  margin-top: 8.75rem;
  margin-bottom: 8.625rem;

}

.box-internship {
  position: relative;
}

.img-box-internship {
  width: 364px;
  height: 206px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 4px 12px #1815150A;
  position: absolute;
  z-index: 10;
  top: 3rem;
  right: 0.8125rem;
  margin-bottom: 3rem;
}

.interns-img-box {
  width: 16rem;
  height: 7rem;
  /* padding:49px 24px 45px; */
  position: absolute;
  top: 49px;
  right: 16px;

}

.interns-img-box img {
  margin: 0.5rem;
}

.text-box-internship {
  width: 93px;
  height: 82px;
  background-color: #9164E8;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: -2.5rem;
  right: -13px
}

.text-box-internship span,.text-box-document span {
  font: 20px/27px yekanbold;
  color: #FAFAFA;
  text-align: center;
  padding: 1.125rem 1rem;
}

.intern {
  width: 8.75rem;
  height: 8.75rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 12px #1815150A;
  border-radius: 4px;
  position: absolute;
  top: 4.375rem;
  right: 18.75rem;
  z-index: 1000;
}

.intern img {
  padding-top: 1rem;
  padding-bottom: 0.8125rem;
}

.intern p {
  font: 12px/16px yekanregular;
  color: #212121;
  margin-bottom: 0;

}

.intern span {
  font: 10px/14px yekanregular;
  color: #9164E8;
  text-align: center;
  padding-top: 0.5625rem;
  padding-bottom: 1.5rem;
}
.logo-op-1{
  width: 275px;
  height:119px;
  background-image: url('../img/Loris-Logo-03@2x.png');
  background-size: cover;
  background-position: center;
  opacity: 0.02;
  position: absolute;
  bottom: -3rem;
  left:-6.375rem;
}
  /*at-glance section */
.at-glance-category {
  margin: 7.5rem auto;
}

.at-glance-box {
  width: 233px;
  height: 174px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px #1815150A;
  border: 1px solid #F6F6F6;
  border-radius: 6px;
  margin: 0 0.75rem;
}

.at-glance-box div {
  width: 4rem;
  height: 4rem;
  background: #9164E8;
  box-shadow: 0px 4px 12px #9164E826;
  border-radius: 4px;
  line-height: 5rem;
   text-align: center;
   margin-top: 2rem;
   margin-bottom: 0.875rem;

}

.at-glance-box div :nth-child(1) {
  font-size: 32px;
}
.at-glance-box p{
  font: 18px/38px yekanbold;
  text-align: center;
  }
/*document section*/
.document{
  margin-bottom:8.625rem ;
}
.box-document{
  width: 348px;
  height: 364px;
  box-shadow: 0px 4px 12px #1815150A;
  border-radius: 4px;
  position: relative;
  z-index:10;
}
.text-box-document {
  width: 159px;
  height: 105px;
  background-color: #9164E8;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: -2.5rem;
  right: -13px;
}
.text-box-document span {
  line-height:38px;
  padding: 1.125rem 1rem 1.125rem 2rem;
  margin:0;
}
.sample-box-document{
  width: 396px;
  height: 72px;
  position: absolute;
  z-index: 100;
  top: 6rem;
  right:4.5rem;
}
.sample-box-document img{
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
}
.sample-box-document p{
  font: 14px/19px yekanregular;
  color: #616161;
  margin:0;
}
.sample-box-document div{
box-shadow: 0px 4px 12px #1815150A;
border-radius: 4px;
}
.form-inline{
width: 86.2%;
background: #F6F6F6;
border-radius: 4px;
position: absolute;
z-index: 100;
bottom:1.5rem;
margin: 1.5rem 1.5rem 0;
}
.form-inline input{
background-color: #F6F6F6;
}
/* .form-control::placeholder{
  color:#BDBDBD;
  font-size: 16px;
  font-family: iranyekanmedium;
  } */
.send-btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #EFEFEF;
  position:absolute;
  left:8px;
  bottom:4px ;
}
.send-btn span{
font-size: 16px;
color: #BDBDBD;
position: absolute;
left:6px;
bottom:6px ;
}
.logo-op-2{
  width: 325px;
  height:140px;
  background-image: url('../img/Loris-Logo-03@2x.png');
  background-size: cover;
  background-position: center;
  opacity: 0.02;
  position: absolute;
  bottom: -3rem;
  left:-13.5625rem;
}
/*blog section*/
.blog{
  margin-bottom: 12.5rem;
  overflow: hidden; /*ISSUE: UNTIL SWIPER SOLVED*/
}
.blog-slide{
width: 348px;
box-shadow: 0px 4px 12px #0000000A;
border: 1px solid #F6F6F6;
border-radius: 6px;
padding-bottom: 1.75rem;
margin:1.75rem 0.75rem;
position: relative;
}
.blog-img{
width: 348px;
height: auto;
}
.blog-text-box{
  width: 348px;
}
.blog-text-box .to-know span{
  font: 14px yekanmedium;
  color: #9164E8;
  padding-left: 1rem;
}
.date-published{
  width: 79px;
  height: 29px;
  background: #9164E8;
  border-radius: 4px;
  position: absolute;
  top: 1rem;
  left:1rem;
}
.date-published span{
  color: #FAFAFA;
  font: 14px/29px yekanregular;
  padding-right:0.5rem;
  margin: 0;

}
/*footer*/
.main-footer{
width: 100%;
}

.top-footer {
  background-color: #404040;
  padding: 0.875rem 0;

}

.list-footer {
  padding-top: 3.125rem;
  padding-bottom: 7.125rem;

}

.list-footer li {
  padding-bottom: 1.5rem;
}

.list-footer li a {
  color: #FAFAFA;
  font: 16px/21px yekanregular;
}

/*ISSUE: I DONT KNOW WHERE 62PX CAME FROM SO I HAD TO DEFINE THE HEIGHT OF LI & UL MANUALLY*/
.social-media-icons-footer {
  height: 20.5px;
}

.social-media-icons-footer li {
  /*ISSUE: I DONT KNOW WHERE 62PX CAME FROM SO I HAD TO DEFINE THE HEIGHT OF LI MANUALLY*/
  height: 20.5px;

}

.social-media-icons-footer li a span {
  font-size: 1.25rem;
}

.bottom-footer {
  background-color: #212121;
}

.text-box-footer {
  padding-top: 3rem;
}

.text-box-footer p:nth-child(1) {
  color: #FAFAFA;
  font: 16px/21px yekanregular;
  margin-bottom: 1.5rem;
}

.text-box-footer p:nth-child(2){
  color: #FAFAFA;
  font: 14px/19px yekanregular;
  margin-bottom: 1.5rem;
}

.approved-footer {
  padding-top: 3.4375rem;
}

/*ISSUE:  FOR THIS PART THERE SHOULD BE OTHER SOLUTIONS TO CENTERISE THE IMAG IN THE RELATED BOX!!!!!!!!!!!!!!*/
.bg-approved-footer {
  width: 140px;
  height: 140px;
  background-color: #FFFEFD;
  border-radius: 8px;
  margin-right: 1rem;
  position: relative;
}

.bg-approved-footer img {
  position: absolute;
  top: 5%;
  right: 5%;
}

.text-copyright {
  border-top: 0.5px solid #e0e0e0;
  text-align: center;
}

.text-copyright p {
  color: #BDBDBD;
  font: 14px/19px yekanregular;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}